<div class="modal-dialog no-margins">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">释放供应商</h4>
    </div>
    <div class="modal-body">
            <div class="form-group">
                <div class="col-lg-8">
                   <span>是否释放供应商</span>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-w-sm btn-white" ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-w-sm btn-primary" ng-click="ok()" ng-disabled="okBtnDisabled">确认</button>
    </div>
</div>
