<!-- Wrapper-->
<div id="wrapper">

    <div class="sk-spinner sk-spinner-three-bounce page-spinner-bar" ng-show="showLoding" >
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
    <!--具体地址在app.config 中定义,主要是为了加版本号</div>-->
    <!-- Navigation -->
    <div ng-include="navigationUrl"></div>


    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg fade-in-up {{$state.current.name}}">

        <!-- Page wrapper -->
         <div ng-include="topnavbarUrl"></div>

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
        <div ng-include="footerUrl"></div>

    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
    <div ng-include="rightSideBarUrl"></div>

</div>
<!-- End wrapper-->