<div class="modal-dialog no-margins">
    <div class="modal-header">
        <h4 class="modal-title">确认通过</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-sm-12">
                    <span>请确认所有信息都已经符合实名认证的要求。</span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-w-sm btn-white" ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-w-sm btn-primary" ng-click="ok()" ng-disabled="okBtnDisabled">确定</button>
    </div>
</div>