<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">分配角色:【{{rowObj.roleName}}】的权限,角色编号:{{rowObj.id}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-sm-11">
                    <div class="form-group">
                        <div js-tree="treeConfig" ng-model="treeData" tree="treeInstance" should-apply="true"></div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-w-sm btn-white" ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-w-sm btn-primary" ng-click="ok()" ng-disabled="okBtnDisabled">确定</button>
    </div>
</div>
